Frame delivery order?

Encapsulation Methods for Transport of Ethernet over MPLS Networks [RFC4448] Section 4.4.3, "Frame Ordering," is interesting.

https://www.rfc-editor.org/rfc/rfc4448.html#section-4.4.3

> In general, applications running over Ethernet do not require strict frame ordering.  However, the IEEE definition of 802.3 [802.3] requires that frames from the same conversation in the context of link aggregation (clause 43) are delivered in sequence.

PWE3 provides knobs[^1] to optionally enable frame sequencing and timing if required. Perhaps our this draft should similarly provide for optional frame ordering, and if made more generic than Ethernet, also consider providing more of the features in PWE3.

[^1]: https://www.rfc-editor.org/rfc/rfc3985.html#section-5.2

I am not sure we need to do anything here -- link aggregation concerns have knock-on effects for e.g., TCP flows. I think that suggests we at most SHOULD try to maintain frame ordering, but we don't have any mechanisms that will intentionally reorder.