Client Configuration

I would expect that one may still uses URI template to declare how the URI looks like even if there are currently no parameters that require configuration just to make it aligned with the other extended connects. And if one introduce future parameters, like VLAN tags to be applied, then having declared that URI templates is the way to define these URIs would help a lot. 

Secondly, the use of the well known  (.wellknown/masque/ethernet) will require a bit of explanation and a reference to the relevant specs for well known, as well as the URI suffix in connect-ip.



I dropped the template language when rewriting from CONNECT-IP[^1] because there was a lack of parameters, but the point is well taken.

Regarding references, RFC 5785[^2] is not referenced in RFC 9484[^1]. I'm not opposed to adding one here though.

[11.2. Updates to the MASQUE URI Suffixes Registry](https://www.ietf.org/archive/id/draft-ietf-masque-connect-ethernet-04.html#name-updates-to-the-masque-uri-s) already exists in this document. We can update it to directly reference section 12.2 in RFC9484[^1].

[^1]: [Proxying IP in HTTP](https://www.rfc-editor.org/rfc/rfc9484.html)
[^2]: [Defining Well-Known Uniform Resource Identifiers (URIs)](https://www.rfc-editor.org/rfc/rfc5785.html)


I think a reference to RFC 8615 (replacing RFC 5785) would actually be good. Looking back at RFC 9484 I think its text could have been better and clearer. 

Sure; I didn't catch the `Obsoleted by` link on the side there and just did a quick search. Thanks for pointing out the updated version.