Context ID registration undefined?

Generating an issue for @gorryfair from [email](https://mailarchive.ietf.org/arch/msg/masque/G9USoURXa7AcBZJUvrxRtjpAY3I/) on the masque WG [mailing list](https://mailarchive.ietf.org/arch/browse/masque/).

At the end of section ~~6~~ 5 there is some text that seems to imply this is not yet an interoperable specification. I find this worrying and confusing.

https://www.ietf.org/archive/id/draft-ietf-masque-connect-ethernet-07.html#section-5-3
> Registration is the action by which an endpoint informs its peer of the semantics and format of a given Context ID. This document does not define how registration occurs. Future extensions MAY use HTTP header fields or capsules to register Context IDs. Depending on the method being used, it is possible for datagrams to be received with Context IDs that have not yet been registered. For instance, this can be due to reordering of the packet containing the datagram and the packet containing the registration message during transmission.

Why is the working group not finishing at least one baseline method (or does it?) and how to negotiate so that interoperability is possible. Does this mean the spec ought not to be a PS?

As this protocol:
1. does not require the registration of additional Context IDs
2. leaves open the path by which future work can define such a registration

Also given that other documents in the MASQUE working group already serve as examples for how such a registration might be specified, I don't think any changes are necessary here.

I think a cross reference to the relevant section of the other MASQUE I-Ds would have avoided this question ... and is still useful.

Some rewording has happened here, and a cross-reference to RFC9484 § 5 was added via #40 .