What to do with an unknown Context ID is underspecified.

Generating an issue for @gorryfair from [email](https://mailarchive.ietf.org/arch/msg/masque/G9USoURXa7AcBZJUvrxRtjpAY3I/) on the masque WG [mailing list](https://mailarchive.ietf.org/arch/browse/masque/).

I think this is underspecified.
https://www.ietf.org/archive/id/draft-ietf-masque-connect-ethernet-07.html#section-6-4.2.1
> If an HTTP/3 datagram which carries an unknown Context ID is received, the receiver SHALL either drop that datagram silently or buffer it temporarily (on the order of a round trip) while awaiting the registration of the corresponding Context ID.
 
- How does the receiver know the RTT (please explain).
- Can we finish saying what happens… I was presuming that all packets that were buffered SHOULD be finally delivered in order, or MUST be  discarded after the timeout.
- Ought a failure resulting in a timeout discard result also in an error code or at least logging event?

This text is borrowed from other MASQUE WG RFCs.
https://www.rfc-editor.org/rfc/rfc9298.html#section-5-3.2.1
https://www.rfc-editor.org/rfc/rfc9484.html#section-6-4.2.1

I don't think this requires any changes.

Sure, we can borrow that text from RFC9298. It was added to that document during later reviews, and never made it into ~~RFC9848~~ RFC9484, so also didn't make it here, but it would be a good addition. We may also want to borrow and adjust the surrounding paragraphs.

This text might also apply to the discussion in #36 .

(For the record I guess you mean RFC9484)... yes makes sense to align with the text in RFC9298 and maybe also to explicitly say that the Content ID defined for Ethernet is the same as the one defined for Connect-IP and Connect-UDP.